@font-face {
    font-family: "SFMoviePoster-Bold";
    src: url("/assets/fonts/SFMoviePoster-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SFMoviePoster";
    src: url("/assets/fonts/SFMoviePoster.ttf") format("truetype");
}

main {
    background-color: rgb(25, 28, 32);
    color: rgb(255, 255, 240);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title {
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.poster {
    border: 5px solid rgb(255, 255, 240);
}

.poster:hover {
    border: 5px solid rgb(150, 150, 150);
}

.postercorrectanswer {
    border: 5px solid rgba(0, 255, 0, 0.75);
}

.posterincorrectanswer {
    border: 5px solid rgba(255, 0, 0, 0.75);
}

#question-area {
   padding-top: 10px;
}

#movie1 {
    font-family: "SFMoviePoster";
    font-size: 350%;
    text-align: center;
}

#movie2 {
    font-family: "SFMoviePoster";
    font-size: 350%;
    text-align: center;
}
