.display-none {
    display: none;
}

.poster {
    max-width: 100%;
}

.poster-container {
    max-width: 100%;
}

html,
body {
    height: calc(100vh, -60px);
    background-color: rgb(25, 28, 32);
}

#movie-value-1,
#movie-value-2 {
    justify-content: center;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1em;
    text-align: center;
}

.scores {
    margin-top: 20px;
}

#answer-1,
#answer-2 {
    margin: 0, auto;
    /* min-width: 258px; */
}

.wai-endofgame {
    width: 80%;
    height: auto;
    align-self: center;
}

#game-over {
    margin-top: 1.5rem;
}

.quiz-text-input {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 400px) {
    #movie-value-1,
    #movie-value-2 {
        font-size: 100%;
    }
}

