@import url(index-style.css);
@import url(quiz-style.css);

/* Navbar */
.wai-nav-bg {
    background-color: black;
}
.wai-nav-text {
    font-weight: bold;
    color: white;
    font-size: larger;
}
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Main on homepage */
.wai-main-bg {
    background-color: black;
    background: url('../images/bg3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.wai-hr {
    width: 25%;
    margin: auto;
}
.wai-hr2 {
    width: 100%;
    margin: auto;
}

.wai-leaderboard {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    color: white; 
    padding: 50px 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 80vh;
}

.wai-leaderboard::before {
    content: ''; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: -1; 
}

.wai-leaderboard h1, .wai-leaderboard h3 {
    position: relative; 
    z-index: 1;
}

table {
    max-width: 38%;
    margin: auto;
}

/* loading page */
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
}

.ml4 .letters {
    color: #df5555;
    position: absolute;
    margin: auto;
    left: 0;
    top: 2em;
    right: 0;
    opacity: 0; 
}

/* Modal feedback styling  */
.modal-content {
    background-color: black !important;
}

.contact {
    color: aliceblue;
}

@media (max-width: 768px) {
    .wai-leaderboard {
        height: auto; 
        padding-top: 20px;
        padding-bottom: 20px;
    }
}